#container{ /*parent to photo_container and .refresh*/
	width: 900px;
	height: 800px;
	color: #83b8b3;
    margin-left: 24px;
    border: 1px solid #eee;
    padding: 12px;
    float: left;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 1px 5px #FFFFFF;
    background: #333333;
}

#photo_container{ /*parent to .flip_content*/
	position: relative;
	top:70px;
	left:70px;
}


.flip_content{ /*parent for img (.front, .back)*/
	display: inline-block;
	width: 160px;
	height: 110px;
	position: relative;
	padding: 20px;
}

.refresh{ /*first parent to Refresh_button*/
	position: absolute;
	bottom: 40px;
	left: 427px;
}

.new_refresh{ /* second parent to Refresh_button*/
	position: absolute;
	bottom: 40px;
	left: 421px;
}

img{
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 100px;
	border-radius: 5px;
}

#Refresh_button{
	background:#C5CBCA;
	border-radius: 3px;
	text-align: center;
}

